
<% include header.ejs %>

<body background = "backpic.png"  >
  <link rel="stylesheet" href="css\contact.css">  
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Alladi_A01</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/index">Home</a></li>
          <!-- <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Converter<span class="caret"></span></a>
            <ul class="dropdown-menu"> -->
              <li><a href="/Converter">weight converter</a></li>
           <!-- </ul>
          </li> -->
          <li class="active" ><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>
<head>
<title>Contact</title>
<meta charset="utf-8">
</head>
 



<div class="container">
<div class="row">
    <div class="col-md-6">

<section>

<article>
<h2>Contact Details</h2>
<h4>This is my contact page.<br>here you have the links for few of my some social media accounts.<br> Feel free to contact any time:-)</h4>
  </article>
</div>
<div class="col-md-6">
    <form action="">
            First name:<br>
            <input style = "color:black" type="text" name="firstname" >
            <br>
            Last name:<br>
            <input style = "color:black" type="text" name="lastname" required>
            <br>
            <input type="radio" name="gender" value="male" checked> Male<br>
            <input type="radio" name="gender" value="female"> Female<br>
            <textarea style = "color:black" name="message" rows="10" cols="30">write a review about the page.
            </textarea>
            <input style = "color:black" type="submit" value="Submit">
            <button style = "color:black"  type="button" onclick="alert('Have nice day:-)')">Click Me!</button>
            
            </form>
</section>
</div>
</div>
</div>
</div>
  <div class="container-fluid">
   <div class="row">       
    <a href="https://github.com/alladi47"><img src="images\github.png" id="git"></a>
    <a href="https://bitbucket.org/S533567/"><img src= "images\bitbucket.png" id="bit"></a>
    <!-- <a href="https://outlook.office.com/owa/?realm=nwmissouri.edu"><img src="outlook.png" id="out"></a> -->
    <a href="https://www.linkedin.com/feed/"><img src="images\linkedin.png" id="linked"></a>


    </div>
  </div>

<% include footer.ejs %>